---
http_interactions:
- request:
    method: get
    uri: https://api.clarifai.com/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":11101,"description":"Resource does not exist","details":"Not
        Found"}}'
  recorded_at: Tue, 14 Nov 2017 17:01:46 GMT
recorded_with: VCR 3.0.3
